/* Styles */
:root {
    --colorMain: black;
    --colorDefault: white;
    --colorAlt: rgb(0, 102, 223);
}
.style-main {
    background-color: var(--colorMain);
    color: var(--colorDefault);
}
.style-default {
    background-color: var(--colorDefault);
    color: var(--colorMain);
}
.style-alt {
    background-color: var(--colorAlt);
    color: var(--colorDefault);
}



/* Texts */
body {
    background-color: var(--colorMain);
    font: 15px Arial, serif;
    line-height: 1.8;
	height: 100%;
}
h1 {
    font: bolder 80px Arial, serif;
}
h2 {
    font: bolder 40px Arial, serif;
}
h3 {
    font: bold 20px Arial, serif;
}
h4, button {
    font: 20px Arial, serif;
    line-height: 1.8;
}



/* Common classes */
.common-bar {
    height: 80px;
    padding: 0px calc(50% - 600px);
}
.anchor {
    padding: 40px;
}
.common-container {
    width: 100%;
    padding: 0px calc(50% - 600px) 0px calc(50% - 600px);
}
.disabled {
    height: 0 !important;
    display: none;
}



/* Navbar */
#navbar {
    width: 100%;
    margin: 0px;
    border-width: 0px;
}
/* Navbar header */
#navbarHeader {
    padding: 1rem 0rem;
    height: 100%;
}
#navbarMenu {
    padding: 20px;
    margin: 0px;
    height: 100%;
}
/* NavbarBody */
.navbarBodyItem {
    padding: 1rem 0px;
    margin: 0px;
    height: 100%;
    border-width: 0px;
}
.navbarBodyItem li {
    height: 100%;
    color: var(--colorDefault);
}
.navbarBodyItem a {
    color: var(--colorDefault);
}
#navbarBodyLeft li a {
    padding: 20px 25px;
}
#navbarBodyRight {
    margin-right: -20px;
}
#navbarBodyRight li {
    width: 75px;
}
.navbarBodyItem li a:hover,
.navbarBodyItem li a:focus {
    background-color: var(--colorDefault) !important;
    color: var(--colorMain) !important;
}
/* Icons */
.iconSocial .icon {
    height: 100%;
    padding: 10px;
    display: block;
    margin: 0 auto;
}
.iconSocial {
    padding: 0px !important;
}
.iconSocial:hover img,
.iconSocial:focus img {
	filter: invert(100%);
}



/* Game */
#game {
    background-color: var(--colorDefault);
    height: calc(100% - 80px);
    padding-top: 80px;
}
#gameCanvas {
    width: 100%;
    height: 100%;
}
.noCursor {
    cursor: none;
}



/* Home */
#homeMobile {
    height: calc(100% - 160px);
    padding: 0;
    margin: 0;
}
#intro {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#introImage {
    margin-top: 40px;
    max-width: 50%;
}



/* Projects */
#projectsTitle {
    color: var(--colorDefault);
}
.projectSpacer {
    height: 120px;
    padding: 0px calc(50% - 600px);
}
/* Project */
.project {
    display: block;
    overflow: hidden;
}
.projectOne {
    float: left;
    margin-right: 5%;
}
.projectTwo {
    float: right;
}
/* Project Gallery */
.projectGallery {
    width: 40%;
}
.projectGalleryMainWrapper {
    width: 100%;
}
.projectGalleryMain {
    position: relative;
    height: unset;
    padding-top: 56.25%;
}
.galleryDisplay {
    position:absolute;
    top: 0;
    left: 0;
    border-width: 2px;
    border-style: solid;
    border-color: whitesmoke;
    width: 100%;
    height: 100%;
    float: right;
}
.galleryVideo {
    position:absolute;
    top: 0;
    left: 0;
    border-width: 2px;
    border-style: solid;
    border-color: whitesmoke;
    width: 100%;
    height: 100%;
}
.projectGalleryItemWrapper {
    width: 100%;
    text-align: left;
}
.projectGalleryItemWrapper .current {
    border-color: whitesmoke;
}
.galleryItem {
    width: 25%;
    margin-top: 4px;
    margin-left: 0px;
    margin-right: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
}
/* Project Text */
.projectText {
    width: 55%;
    text-align: left;
}
.projectSubtext {
    color: gray;
    font-style: italic;
}



/* Resume */
#resumeContainer {
    min-height: calc(100% - 160px);
    color: var(--colorMain);
    text-align: left;
    padding: 0px calc(50% - 500px) 0px calc(50% - 500px);
}
#resumeWrapper {
    padding: 5% 0;
}
#resumeWrapper h2 {
    color: var(--colorDefault);
}
#resumeWrapper h3 {
    color: var(--colorAlt);
}
#resumeWrapper hr {
    margin: 0;
    border-color: var(--colorMain);
    border-width: 2px;
}
/* Resume header */
#resumeHeader {
    display: block;
    overflow: auto;
    height: 20%;
}
#resumeImageContainer {
    width: 100%;
}
#resumeImage {
    height: 100%;
}
#resumeTitleContainer {
    padding-top: 30px;
    height: 100%;
    background-color: var(--colorAlt);
    position: relative;
}
#resumeTitle {
    position: absolute;
    bottom: 0;
    margin: 30;
}
/* Resume columns */
.resumeColumnLeft {
    float: left;
    margin-right: 5%;
    width: 17.5%;
}
.resumeColumnRight {
    float: left;
    width: 67.5%;
}
.resumeColumnRightHeader {
    float: left;
    width: 77.5%;
}
/* Resume body */
#resumeBody {
    display: block;
    overflow: auto;
}
#resumeSkillsWrapper {
    display: block;
    overflow: auto;
}
.resumeSkillsList {
    float: left;
    min-width: 20%;
    margin-right: 5%;
    padding: 0;
    list-style-type: none;
}
.resumeList {
    padding: 0;
}
.resumeListItem {
    display: block;
    overflow: auto;
}
.resumeListItemDate {
    float: left;
    margin-right: 5%;
    width: 20%;
}
.resumeListItemTitle {
    float: left;
    width: 75%;
    font-weight: bold;
}



/* Loose css */
.chevron {
    font-size: 30px;
    margin-top: 25px;
    color: var(--colorDefault) !important;
}
.chevron:hover {
    color: gray !important;
}
.icon {
    color: var(--colorDefault) !important;
    border-color: var(--colorDefault) !important;
}
.slideanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
