/* Styles */
:root {
    --colorMain: black;
    --colorDefault: white;
    --colorAlt: darkslateblue;
}
.style-main {
    background-color: var(--colorMain);
    color: var(--colorDefault);
}
.style-default {
    background-color: var(--colorDefault);
    color: var(--colorMain);
}
.style-alt {
    background-color: var(--colorAlt);
    color: var(--colorDefault);
}



/* Texts */
body {
    font: 15px Arial, serif;
    line-height: 1.8;
	height: 100%;
}
h1 {
    font: bolder 80px Arial, serif;
}
h2 {
    font: bolder 40px Arial, serif;
}
h3 {
    font: bold 20px Arial, serif;
}
h4, button {
    font: 20px Arial, serif;
    line-height: 1.8;
}



/* Common classes */
.common-bar {
    height: 80px;
    padding: 0px calc(50% - 600px);
}
.anchor {
    padding: 40px;
}
.common-container {
    width: 100%;
    padding: 80px calc(50% - 600px) 0px calc(50% - 600px);
}



/* Navbar */
#navbar {
    width: 100%;
    margin: 0px;
}
/* Navbar header */
#navbarHeader {
    padding: 1rem 0rem;
    height: 100%;
}
#navbarBrand {
    padding: 8px 25px;
    margin-left: -25px;
    height: 100%;
    color: var(--colorDefault);
    font: bolder 40px Arial, serif;
}
#navbarBrand:hover {
    background-color: var(--colorDefault) !important;
    color: var(--colorMain) !important;
}
#navbarMenu {
    padding: 20px;
    margin: 0px;
    height: 100%;
}
/* NavbarBody */
.navbarBodyItem {
    padding: 1rem 0px;
    margin: 0px;
    height: 100%;
}
.navbarBodyItem li,
.navbarBodyItem a {
    height: 100%;
    line-height: unset !important;
    color: var(--colorDefault);
    font-size: 100%;
}
#navbarBodyLeft li a {
    padding: 15px 25px;
}
#navbarBodyRight {
    margin-right: -20px;
}
#navbarBodyRight li {
    width: 75px;
}
.navbarBodyItem li a:hover,
.navbarBodyItem li a:focus {
    background-color: var(--colorDefault) !important;
    color: var(--colorMain) !important;
}
/* Icons */
.iconSocial .icon {
    height: 100%;
    padding: 10px;
    display: block;
    margin: 0 auto;
}
.iconSocial {
    padding: 0px !important;
}
.iconSocial:hover img,
.iconSocial:focus img {
	filter: invert(100%);
}



/* Home */
#home {
    height: calc(100% - 80px);
    padding-bottom: 80px;
    padding-top: 80px;
}
#homeWrapper {
    height: 100%;
    display: flex;
}
/* Intro */
#introColumn {
    width: 50%;
    margin-right: 50px;
    position: relative;
}
#introWrapper {
    padding-top: 100px;
    position: absolute;
    bottom: 0px;
}
#introContent {
    display: flex;
    margin-top: 100px;
}
.introContentItem {
    width: 50%;
}
#introContentRight {
    margin-left: 50px;
    position: relative;
}
.introButton {
    height: 50px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: darkslateblue;
    font-weight: bold;
}
#introButtonRight {
    position: absolute;
    bottom: 0px;
    color: var(--colorAlt);
    background-color: var(--colorDefault);
}
/* Portrait */
#portraitColumn {
    width: 50%;
}
#portraitColumn {
    background: var(--colorAlt);
}
#portraitImage {
    object-fit: cover;
    height: 100% !important;
    width: 100% !important;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
}



/* Projects */
#projects {
    height: 100%;
    padding-top: 0px;
}
#projectsTitle {
    color: var(--colorDefault);
}
/* Carousel */
#projectsCarousel {
    height: calc(100% - 235px);
    padding: 0px;
}
.carousel-inner {
    height: calc(100% - 160px);
    margin-bottom: 80px;
}
.carousel-inner .active,
.carousel-inner .prev,
.carousel-inner .next {
    display: flex;
}
.item {
    height: 100%;
}
/* ItemLeft */
.itemLeft {
    height: 100%;
    width: 50%;
    margin-right: 50px;
}
.galleryDisplay {
    width: 100%;
}
.galleryVideo {
    height: 330px;
}
.galleryItemWrapper {
    width: 100%;
    position: relative;
}
.galleryItem {
    width: 25%;
    margin-top: 2px;
    margin-right: -6px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
}
.galleryItemWrapper .current {
    border-color: whitesmoke;
}
/* ItemRight */
.itemRight {
    height: 100%;
    width: 50%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
}
.itemRight h2 {
    margin-top: 0px;
}
/* Controls */
.left {
    height: 80px;
    top: unset;
    left: 30%;
    margin-bottom: 80px;
}
.right {
    height: 80px;
    top: unset;
    right: 30% !important;
    margin-bottom: 80px;
}
.carousel-control .icon {
    margin-top: -17px;
}
.carousel-indicators {
    height: 80px;
    width: 20%;
    left: 70%;
    margin-bottom: 0px;
    position: absolute;
    top: unset;
    bottom: 80px;
}
.carousel-indicators li {
    margin-top: 34px;
}



/* Resume */
#Resume {
    height: calc(100% - 80px);
    color: var(--colorDefault);
}
#resumeTitle {
    color: var(--colorMain);
}
#resumeWrapper {
    height: calc(100% - 225px);
    width: 60%;
    margin-left: 20%;
    display: flex;
}
#resumeImage {
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
}



/* Loose css */
.chevron, #projectsChevron:hover {
    font-size: 30px;
    margin-top: 25px;
    color: var(--colorDefault) !important;
}
.chevron:hover, #projectsChevron {
    color: gray !important;
}
.icon {
    color: var(--colorDefault) !important;
    border-color: var(--colorDefault) !important;
}
.slideanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}