@media screen and (max-width: 1024px) {
    /* Texts */
    h1 {
        font: bolder 60px Arial, serif;
    }
    h2 {
        font: bolder 30px Arial, serif;
    }
    h3 {
        font: bold 15px Arial, serif;
    }
    h4, button {
        font: 15px Arial, serif;
        line-height: 1.8;
    }



    /* Common classes */
    .common-container {
        padding-bottom: 0 !important;
    }



    /* Navbar */
    #navbar {
        padding: 0 25px;
    }
    #navbarBrand {
        padding: 15px;
        height: 65px;
    }
    #navbarMenu {
        padding: 15px;
    }
    .navbarBodyItem {
        padding: unset;
        border: unset;
        height: unset;
    }
    #navbarBody {
        background-color: rgba(0, 0, 0, 0.9);
        max-height: unset;
        padding: 1px;
    }
    .navbar-nav li,
    .navbar-nav a {
        text-align: center;
    }
    #navbarBodyLeft li {
        height: 60px;
    }
    #navbarBodyLeft a {
        height: unset;
        padding: 19px;
    }
    #navbarBodyRight {
        margin: 0px;
    }
    #navbarBodyRight li {
        float: left;
        width: calc( (100% - 0.1px) / 7); /* -0.1px fixes Edge bug where elements dont fit */
        min-width: 75px;
    }
    #navbarBodyRight li a{
        padding: 5px !important;
        width: 100%;
    }



    /* Home */
    /*#home {
        height: unset;
        min-height: 100%;
    }*/
    #homeWrapper {
        flex-direction: column-reverse;
        width: 90%;
        margin-left: 5%;
    }
    #introColumn {
        width: 100%;
        height: 50%;
    }
    #introWrapper {
        height: unset;
        padding-top: 0;
        margin-bottom: 40px;
    }
    #introContent {
        margin-top: 0;
    }
    #portraitColumn {
        width: 100%;
        height: 50%;
    }



    /* Projects */
    #projects {
        height: unset;
    }
    /* Carousel */
    /*#projectsCarousel {
        height: unset;
    }
    .carousel-inner {
        height: unset;
    }
    .item {
        flex-direction: column;
        height: unset;
        max-height: 100%;
        padding: 0 5%;
        margin-right: 0 !important;
    }*/
    /* ItemBot */
    .itemBot {
        width: 100%;
        padding-top: 20px;
        height: unset;
    }



    /* Resume */
    #resume {
        padding-top: 0px;
    }
    #resumeWrapper {
        height: 100%;
        width: 90%;
        margin: 0 5%;
    }



    /* Footer */
    #footer {
        padding: 0px 25px;
    }
    #iconBackToTop {
        font-size: 20px;
        padding: 23px;
    }



    /* stuff to make the navbar responsive at given size*/
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
