html {
    height:100%;
    width:100%;
}

/* COLORS */
:root {
    --color-background: #ece8e1;
    --color-background-two: #d3cfc9;
    --color-background-three: #0f1923;
    --color-primary: #0f1923;
    --color-secondary: #8993a9;
    --color-tertiary: #BDBCB7;
    --color-accent: #4169E1;
    --dark-mode-icon: "🌕";
    --image-alpha: 1;
}
.dark-mode {
    --color-background: #0f1923;
    --color-background-two: #162433;
    --color-background-three: #000000;
    --color-primary: #ece8e1;
    --color-secondary: #8993a9;
    --color-tertiary: #BDBCB7;
    --color-accent: #4169E1;
    --dark-mode-icon: "🌑";
    --image-alpha: .3;
}



/* GENERAL */
body {
    font-family: 'Albert Sans';
    font-weight: 400;
    background-color: var(--color-background);
    color: var(--color-primary);
    line-height: 1.5;
    height: 100%;
}
ul {
    list-style-type: none;
    padding: 0;
}
.spacer {
    width: 100%;
    height: 6rem;
}
.margins1 {
    margin: 0 auto;
    width: 900px;
}
.header {
    margin-bottom: 3rem;
    border-bottom: 2px solid;
}
h1 {
    color: var(--color-accent);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
}
h2 {
    color: var(--color-primary);
    font-weight: 800;
    font-size: 3rem;
}
h3 {
    color: var(--color-primary);
    font-weight: 800;
    font-size: 1.5rem;
}
.hidden {
    display: none !important;
}


/* GAME */
#game {
    background-color: var(--color-background);
    height: calc(100% - 3rem);
}
#gameCanvas {
    width: 100%;
    height: 100%;
}
.noCursor {
    cursor: none;
}
#game-bottom-bar {
    background-color: var(--color-background-three);
    z-index: 20;
    width: 100%;
    height: 3rem;
}



/* DARKMODE BUTTON */
#dark-mode-button {
    background-color: transparent;
    border: none;
    padding: 0;
}
#dark-mode-button span {
    display: none;
}
#dark-mode-button:before {
    content: var(--dark-mode-icon);
}
#dark-mode-button:hover:before {
    content: "🌓";
}



/* FEATURED */
.featured-container::after {
    content: "";
    display: table;
    clear: both;
}
#featured-list {
    width: 100%;
}
.featured-title {
    margin: 0;
    line-height: 1;
    margin-bottom: 0.8rem;
    color: var(--color-primary);

}
.featured-subtitle {
    color: var(--color-secondary);
    margin-top: 0;
    margin-bottom: 1rem;
}
.featured-date {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: 1rem;
    line-height: 1;
    width: unset !important;
}
.featured-spacer {
    height: 120px;
    padding: 0px calc(50% - 600px);
}
.featured {
    display: block;
}
.featured:not(:last-child) {
    padding-bottom: 5rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid var(--color-accent);
}
.featured-left {
    float: left;
    width: 60%;
    padding-right: 4rem;
    text-align: left;
}
.featured-right {
    float: right;
    width: 40%;
}
.featured-gallery-main-wrapper {
    width: 100%;
}
.featured-gallery-main {
    position: relative;
    height: unset;
    padding-top: 56.25%;
}
.gallery-display {
    position:absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    float: right;
    box-shadow: 0px 0px 8px #00000010;
}
.gallery-video {
    position:absolute;
    top: 0;
    left: 0;
    border: 0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 8px #00000010;
}
.featured-gallery-item-wrapper {
    text-align: left;
    display: flex;
    gap: 8px;
    margin-top: 8px;
}
.featured-gallery-item-wrapper .current {
    filter: unset !important;
    background: rgba(34, 167, 240, .5);
}
.gallery-item {
    position: relative;
    width: 25%;
    border-radius: 8px;
    overflow: hidden;
    filter: brightness(40%) saturate(30%);
    box-shadow: 0px 0px 8px #00000010;
}
.gallery-item-video img {
    width: 100%;
    display: block;
}
.gallery-item-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30% !important;
    transform: translate(-50%, -50%);
}
.featured-button {
    appearance: none;
    background-color: var(--color-background);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    text-decoration: none;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    margin: 2px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}
.featured-button:hover {
  background-color: var(--color-background-two);
  text-decoration: underline;
  transition-duration: 0.1s;
}
.featured-subtext {
    margin-left: 2rem;
}


/* PROJECTS */
.project-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
}
.project {
    display: block;
    color: var(--color-primary);
    background-color: var(--color-background);
}
.project-image-container {
    width: 100%;
}
.project-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #00000010;
}
.project-title {
    font-weight: bold;
    margin: 0;
}
.project-subtitle {
    color: var(--color-secondary);
}
.project-platform-icon {
    height: 100%;
}
.project-buttons {
    padding-top: 10px;
}
#container-button-older-projects {
    text-align: center;
}



/* FOOTER */
#footer {
    background-color: var(--color-background);
    border-top: 1px solid var(--color-secondary);
    font-weight: 800;
    height: 3rem;
}
#footer-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#footer-container > * {
    padding: 0 5px;
}
.footer-button {
    color: var(--color-accent);
    text-decoration: none;
}
.footer-button:first-child {
    margin-left: calc(.5rem - 5px);
}
.footer-button:hover {
    text-decoration: underline;
}



/* Slide */
.slideanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}



/* EXTRA ICONS */
.icon-switch:before {
    content: url('https://api.iconify.design/mdi/nintendo-switch.svg?color=white');
}
