@media screen and (max-width: 1400px) {
    /* GENERAL */

    /* GAME */
    #game,
    #game-bottom-bar {
        display: none;
    }

    /* FEATURED */
    #spacer-featured {
        height: 3rem;
    }

    /* PROJECTS */
    .project-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 940px) {
    /* GENERAL */
    .margins1 {
        width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width: 740px) {
    /* GENERAL */
    h1 {
        overflow: hidden;
    }

    /* FEATURED */
    .featured-one {
        float: none;
        margin-right: 0%;
    }
    .featured-two {
        float: none;
    }
    .featured-gallery {
        width: 100%;
    }
    .featured-text {
        width: 100%;
    }

    /* PROJECTS */
    .project-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
