@media screen and (max-width: 1400px) {
    /* GENERAL */

    /* GAME */
    #game,
    #game-bottom-bar {
        display: none;
    }

    /* FEATURED */
    #spacer-featured {
        height: 3rem;
    }

    /* PROJECTS */
    .project-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 940px) {
    /* GENERAL */
    .margins1 {
        width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width: 740px) {
    /* GENERAL */
    h1 {
        overflow: hidden;
    }
    h2 {
        font-size: 1.5rem;
    }

    /* FEATURED */
    .featured-left {
        float: none;
        width: 100%;
        margin-right: 0%;
    }
    .featured-right {
        float: none;
        width: 100%;
        margin-bottom: 0.8rem;
    }
    .featured-date {
        margin-top: 0;
    }
    .featured-subtitle{
        font-size: 1.25rem;
    }
    .featured:not(:last-child) {
        padding-bottom: 0;
        margin-bottom: 4rem;
        border-bottom: unset;
    }
    .featured-subtext {
        margin-left: 0;
    }

    /* PROJECTS */
    .project-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
