@media screen and (max-width: 1400px) {

    /* GENERAL */
    .margins1 {
        width: 100%;
        border-left: 0px;
    }
    .margins2 {
        width: 100%;
        padding: 0 10px;
    }

    #game,
    #navbar,
    #spacer-top,
    #projects,
    #projects-featured-list,
    #featured,
    #featured-header {
        display: none;
    }


    /* PROJECTS */
    .project-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .projectOne {
        float: none;
        margin-right: 0%;
    }
    .projectTwo {
        float: none;
    }
    .projectGallery {
        width: 100%;
    }
    .projectText {
        width: 100%;
    }

    #footer-container {
        margin: 0 10px;
    }

}

@media screen and (max-width: 800px) {
    h1 {
        overflow: hidden;
    }
    .project-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
