
{{#projects}}
    {{^hidden}}
    <div class="project">
        <div class="project-image-container">
            <img class="project-image" src="{{image}}">
        </div>
        <div class="project-info-container">
            <h3 class="project-title">{{name}}</h4>
            <div class="project-subtitle">
                <span>{{date}}, </span>
                {{#tags}}
                    <span>{{tag}}, </span>
                {{/tags}}
                {{#platforms}}
                    <span>{{platform}}</span>
                    <span class="{{platform-icon}}"></span>
                    <span>{{^last}}, {{/last}}</span>
                {{/platforms}}
            </div>
        </div>
        <div class="project-buttons">
            {{#links}}
                <a class="featured-button" href="{{link}}" target="_blank">{{label}}</a>
            {{/links}}
        </div>
    </div>
    {{/hidden}}
{{/projects}}
